dynamixel_sdk
numpy==1.26.4
pyserial
pydoc-markdown
pillow
opencv-python
matplotlib
--find-links https://github.com/cansik/pyrealsense2-macosx/releases; 
pyrealsense2; platform_system == "Windows" or platform_system == "Linux"
pyrealsense2-macosx; platform_system == "Darwin"

